{minimum_otp_vsn, "26.0"}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "src/riak_api_web_acceptor.erl",
        "src/riak_api_web_body.erl",
        "src/riak_api_web_headers.erl",
        "src/riak_api_web_security.erl",
        "src/riak_api_web_socket.erl",
        "src/riak_api_web.erl",
        "src/riak_api_web_handler.erl",
        "test/riak_api_web_acceptor_pool_drain_test.erl",
        "test/riak_api_web_get_random.erl",
        "test/riak_api_web_ets_store.erl",
        "test/riak_api_web_trigger.erl",
        "rebar.config"
    ]},
    {exclude_files, []}
]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/OpenRiak/erlfmt.git", {branch, "main"}}}
]}.

{eunit_opts, [verbose]}.

{deps, [
    {riak_pb,
        {git, "https://github.com/OpenRiak/riak_pb.git",
            {branch, "openriak-3.4"}}},
    {riak_core,
        {git, "https://github.com/OpenRiak/riak_core.git",
            {branch, "openriak-4.0"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck,
                {git, "https://github.com/OpenRiak/meck.git",
                    {branch, "openriak-3.4"}}}
        ]}
    ]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used]}.
